@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Questions" asp-action="Create">Post</a> a new question!</p>
</div>
